# Week 1 Homework Queries

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# enter engine parameters here

In [3]:
engine.connect()

## Q3

In [10]:
query = """
SELECT COUNT(1)
FROM green_tax_trips
WHERE DATE(lpep_pickup_datetime) = '2019-01-15' AND DATE(lpep_dropoff_datetime) = '2019-01-15';
"""
pd.read_sql(query, con=engine)

   count
0  20530

## Q4

In [14]:
query = """
SELECT lpep_pickup_datetime, MAX(trip_distance) largest_trip
FROM green_tax_trips 
GROUP BY lpep_pickup_datetime 
ORDER BY largest_trip DESC
LIMIT 1; 
"""
pd.read_sql(query, con=engine)

  lpep_pickup_datetime  largest_trip
0  2019-01-15 19:27:58        117.99

## Q5

In [15]:
query = """
SELECT passenger_count, COUNT(1)
FROM green_tax_trips 
WHERE DATE(lpep_pickup_datetime) = '2019-01-01' AND (passenger_count = 2 OR passenger_count = 3)
GROUP BY passenger_count;
"""
pd.read_sql(query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

## Q6

In [16]:
query = """
SELECT zpu."Zone" pickup_zone, zdo."Zone" drop_off_zone, MAX(tip_amount) largest_tip
FROM green_tax_trips AS gt
INNER JOIN zones zpu ON gt."PULocationID" = zpu."LocationID" -- Zone Pickup
INNER JOIN zones zdo ON gt."DOLocationID" = zdo."LocationID" -- Zone Dropoff
WHERE zpu."Zone" = 'Astoria'
GROUP BY zpu."Zone", zdo."Zone" 
ORDER BY largest_tip DESC
LIMIT 1;
"""
pd.read_sql(query, con=engine)

  pickup_zone                  drop_off_zone  largest_tip
0     Astoria  Long Island City/Queens Plaza         88.0